<a href="#" data-rel="back" data-role="button" data-theme="a" data-icon="delete" data-iconpos="notext" class="ui-btn-right">Close</a>
<div data-role="header" data-theme="a">
    <h1 class="cmntyex-opening-hours-title">Opening hours</h1>
</div>
<div role="main" class="ui-content">
    <table class="cmntyex-opening_hours">
        <% _.each(hours, function (hour) { %>
            <tr>
                <td><%= hour[0] %></td>
                <td>
                    <% if (hour[1] == "closed") { %>
                        <div>closed</div>
                    <% } else { %>
                        <% _.each(hour, function(v, i) { %>
                            <% if (i == 1 && hour[1] && hour[2]) { %>
                                <div><%= hour[1]%> - <%= hour[2] %></div>
                            <% } %>
                            <% if (i > 2 && i % 2 > 0 && hour[i+1]) { %>
                                <div><%= hour[i] %> - <%= hour[i+1] %></div>
                            <% } %>
                        <% }) %>
                    <% } %>
                </td>
            </tr>
        <% }) %>
    </table>
</div>
