<div class="slide promotion">
    <div class="cmntyex_promotion_title"><%= promotionSASLName %></div>
    <div class="cmntyex_promotion_image">
        <img src="<%= imageUrl %>">
    </div>
    <div class="cmntyex_promotion_description"><%= displayText %></div>
    <div class="cmntyex_promotion_buttons_placeholder">
        <div class="ui-grid-d">
            <div class="ui-block-a">
                <a
                    href="https://www.facebook.com/sharer/sharer.php?u=<%= window.encodeURIComponent(window.location.href + '?t=p&u=' + promoUUID) %>"
                    class="facebook_button">
                    <div class="sprite_navbar navbutton_facebook promotion_contact"></div>
                </a>
            </div>
            <div class="ui-block-b">
                <a href="https://twitter.com/intent/tweet?text=<%= window.encodeURIComponent(window.location.href + '?t=p&u=' + promoUUID) %>"
                   class="twitter_button">
                   <div class="sprite_navbar navbutton_twitter promotion_contact"></div>
                </a>
            </div>
            <div class="ui-block-c">
                <a href="mailto:?subject=&body=<%= window.encodeURIComponent(window.location.href + '?t=p&u=' + promoUUID) %>" class="email_button">
                    <div class="sprite_navbar navbutton_email promotion_contact"></div>
                </a>
            </div>
            <div class="ui-block-d">
                <a href="#" class="mobile_button">
                    <div class="sprite_navbar navbutton_sms_button promotion_contact"></div>
                </a>
            </div>
            <div class="ui-block-e">
                <div class="cmntyex-promotion_likes"></div>
                <a href="#" class="like_button">
                    <div class="sprite_navbar navbutton_thumbs-up promotion_contact"></div>
                </a>
            </div>
        </div>
    </div>
    <div class="cmntyex_promotion_fineprint"><%= finePrint %></div>
</div>
