<a href="#" >
    <% if (showAdAlert) { %>
        <div class="tile_adAlert">
            <h2 class="tile_adAlert_message"><%= adAlertMessage %></h2>
        </div>
    <% } %>
    <div class="cmntyex_sasl_tile">
        <div class="tile_left">
            <h1 class="tile_name"><%= name %></h1>
            <h2 class="tile_type"><%= promoType.displayText %></h2>
            <img class="tile_rating" src="<%= rating_img_url %>">
            <img class="tile_image" src="<%= url %>" >
        </div>
        <div class="tile_right">
            <h2 class="tile_title"><%= title %></h2>
            <p class="tile_message"><%= message %></p>
            <!-- <img class="status_icon" src="<%= iconURL %>"> -->
            <!-- <img class="app_icon" src="<%= appIconURL %>"> -->
        </div>
    </div>
</a>
