<a href="#" >
    <div class="cmntyex_sasl_tile">
        <% if (showURL) { %>
            <div class="more_detailes">
                <a href="<%= onClickURL %>">
                    <h2>For more detailes click here</h2>
                </a>
            </div>
        <% } %>
        <% if (promoType.enumText == 'CAMPAIGN_PROMOTION') { %>
            <div class="create_promotion">
                <h2>Create Promotion</h2>
            </div>
        <% } %>
        <div class="tile_left">
            <h3 class="tile_type"><div class="<%= promoType.enumText %>"></div><%= promoType.enumText %></h3>
            <% _(mapmarkers).each(function (marker) { %>
                <% if (marker.category == 'UNDEFINED') { %>
                    <img class="tile_marker" src="<%= marker.markerURL %>">
                <% } %>
            <% }) %>
            <img class="tile_image" src="<%= url %>" >
        </div>
        <div class="tile_right">
            <h2 class="tile_title"><%= saslName %></h2>
            <p class="tile_message"><%= title %></p>
        </div>
    </div>
</a>
