<a href="#" >
    <div class="cmntyex_sasl_tile">
        <div class="tile_left">
            <h1 class="tile_name"><%= name %></h1>
            <h2 class="tile_type"><%= tileType.displayText %></h2>
            <img class="tile_rating" src="<%= parent.rating_img_url %>">
            <img class="tile_image" src="<%= tileURL %>" >
        </div>
        <div class="tile_right">
            <h2 class="tile_title"><%= tileTitle %></h2>
            <p class="tile_message"><%= tileMessage %></p>
            <!-- <img class="status_icon" src="<%= iconURL %>"> -->
            <!-- <img class="app_icon" src="<%= appIconURL %>"> -->
        </div>
    </div>
</a>
