<div class="message_body">
	<% if (message.authorImageUrl && message.authorImageUrl.length !== 0) { %>
		<img src="<%= message.authorImageURL %>" alt="" />
	<% } else { %>
		<img src="images/question_user.png" alt="">
	<% } %>
	<p class="user_name"><%= message.userName %></p>
	<p class="message_text"><%= message.postbody %></p>
	<p class="time_ago"><%= timeAgo %></p>
</div>
<div class="options_bar">
	<div class="warning_sign"><img src="images/warning-sign.png"></div>
	<div class="reply"><img src="images/reply.png"></div>
	<div class="like_comment"><img src="images/like_comment.png"></div>
</div>
<div class="reply_comment_field">
	<textarea placeholder="leave comment as <%= user.userName %>"></textarea>
	<a href="">POST</a>
	<div class="counter">
		<div class="message_length">500</div>
		<div>/500</div>
	</div>
</div>
