<div class="pree_question">
    <ul class="questionHeader">
        <li class="pree_question_user">
            <div class="pree_question_user_avatar">
                <% if (authorImageURL && authorImageURL.length !== 0) { %>
                    <img src="<%= authorImageURL %>" alt="" />
                <% } else { %>
                    <img src="images/question_user.png" alt="">
                <% } %>
            </div>
        </li>
        <li class="pree_question_title">
            <div class="pree_question_title_name">
                <p><%= pollType.displayText.toUpperCase() %></p>
            </div>
            <div class="pree_question_title_date">
                <p><%= activationDate %></p>
            </div>
        </li>
        <li class="dropdown pree_tags_dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                Tags <span><%= tags.length %></span>
            </a>
            <ul class="dropdown-menu pull-right">
                <% if (tags.length !== 0) { %>
                    <% _(tags).each(function(tag) { %>
                        <li class="pree_question_tags_item">
                            <div>
                                <a href="">#<%= tag.displayText %></a>
                            </div>
                        </li>
                    <% }) %>
                <% } else { %>
                    <li>no tags</li>
                <% } %>
            </ul>
        </li>
        <li class="dropdown pree_categories_dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Topics <span><%= categories.length %></span></a>
            <ul class="dropdown-menu pull-right">
                <% _(categories).each(function(category) { %>
                  <li class="pree_question_categories_item">
                      <div>
                          <a href=""><%= category.displayText %></a>
                      </div>
                   </li>
                <% }) %>
            </ul>
        </li>
    </ul>
    <div class="pree_question_user_username"><%= authorUserName %></div>
    <section class="questionBody">
        <% if (img_url) { %>
            <div class="pree_question_img">
                <img src="<%= img_url %>" alt="" />
            </div>
        <% } %>
        <div class="pree_question_text"><%= displayText %></div>
        <!-- <% _.each(choices, function(choice){ %>
            <div class="pree_question_answer answer">
                <input type="radio" name="<%= choice.contestUUID %>" data-id="<%= choice.choiceId %>"> <span class="ansLetter"><%= choice.choiceIndex %>:</span><%= choice.displayText %>
            </div>
        <% }) %> -->
        <div class="press_question_answers_wrapper">
          <div class="pree_question_answered_mask"></div>
          <ul class="pree_question_input_answers">
            <% _.each(choices, function(choice, index){ %>
                <li>
                    <div class="pree_question_edit_answers_item pree_question_answer">
                        <input type="radio" name="<%= choice.contestUUID %>" cmtyx-answer-iscorrect="<%= choice.isCorrect ? true : false %>" data-index="<%= index %>" data-id="<%= choice.choiceId %>" class="radioAnswer answer-choice" <% if (currentChoiceByUser === index + 1) { %> checked <% } %> >
                            <div class="inputRadioImg"></div>
                            <div class="input-group">
                                <div class="input-group-addon">
                                    <%= index + 1 %>
                                </div>
                                <div data-index="<%= index %>" class="form-control answer-example"  ><%= choice.displayText %></div>
                            </div>
                    </div>
                </li>
                <% }) %>
          </ul>
        </div>
    </section>
    <div class="pree_question_detailed collapse">
        <div class="pree_question_answer">
            <header class="answerHeader">
                <span class="thanksText"><%= messageLine1 %><br /><%= messageLine2 %></span>
                <!-- <span class="score">Your new score is <% if (totalPoints) { %><%= totalPoints %> <% } %> points</span> -->
            </header>
            <section class="answerBody">
                <div class="resultsData">
                    <p class="resultsText">Results:</p>
                    <% _.each(choices, function(choice) { %>
                        <div><p><% if (choice.percentOfTotalResponses !== null) { %> <%= choice.percentOfTotalResponses.toFixed(2) %><% } %>%</p><p>: <%= choice.choiceId %>: </p> <%= choice.displayText %> <% if (choice.thisIsYourChoice) { %> - <span>YOU</span> <% } %></div>
                    <% }) %>
                </div>
                <div id="answerBar<%= uuid %>" class="answerBar"></div>
            </section>
        </div>
        <div class="pree_question_answerInfo">
            <header class="answerInfoHeader">
                <span class="answerInfoHeaderTitle">
                    Answer Info
                </span>
            </header>
            <section class="answerInfoBody">
                <p class="answerInfoText"><%= additionalInformation %></p>
                <div class="answerInfoText last">Attribution Links
                  <a href="<%= infoURL1 %>" target="_blank"><%= infoURL1 %> </a>
                  <br />
                  <a href="<%= infoURL2 %>" target="_blank"> <%= infoURL2 %></a>
              </div>
            </section>
        </div>
    </div>
    <footer class="questionFooter">
        <!-- <div class="row tagsAndCategories">
            <div class="col-xs-12 col-sm-12 col-md-12">
                <ul class="pree_question_categories" style="display:inline-block; margin-bottom:10px">
                    <% _(categories).each(function(category) { %>
                      <li class="pree_question_categories_item">
                           <%= category.displayText %>
                       </li>
                    <% }) %>
                </ul>
            </div>
            <% if (tags.length !== 0) { %>
                <div class="col-xs-12 col-sm-12 col-md-12">
                    <ul class="pree_question_tags" style="display:inline-block">
                        <% _(tags).each(function(tag) { %>
                            <li class="pree_question_tags_item">
                                #<%= tag.displayText %>
                            </li>
                        <% }) %>
                    </ul>
                </div>
            <% } %>
        </div> -->
        <div class="pree_question_likes_button">
            <div class="pree_question_likes_icon">
                <i class="fa fa-heart-o" aria-hidden="true"></i>
            </div>
            <div class="pree_question_likes_count"><%= likes %></div>
        </div>
        <!-- <div class="pree_question_comment_button">
            <div class="pree_question_comment_icon">
                <i class="fa fa-comment-o" aria-hidden="true"></i>
            </div>
            <div class="pree_question_comment_count"><%= messages %></div>
        </div> -->
        <div class="pree_question_share_button">
           <img src="images/share.png" alt="">
        </div>
        <div class="pree_question_answers">
            <span><span style="font-weight:400">Answers</span>: <%= totalAnswers %></span>
        </div>
        <!-- <div class="pree_question_more">
            <img src="images/Ellipse-5-copy-4.png" alt="">
            <img src="images/Ellipse-5-copy-3.png" alt="">
            <img src="images/Ellipse-5-copy-2.png" alt="">
            <img src="images/Ellipse-5-copy.png" alt="">
        </div> -->
    </footer>
    <div class="pree_question_answer_details"></div>

</div>
