<div id="eventActive_page" data-role="page" class="page">
	<a class="ui-icon-cmntyex_back back ui-btn-icon-top"></a>
    <div style="margin: -16px" data-role="content" class="content">
        <div class="theme2_event_banner_wrapper">
	        <div class="theme2_event_banner_inner">
	        	<table class="theme2_event_banner_table">
	        		<tr>
	        			<td class="theme2_event_banner_large_font">Upcoming Events</td>
	        		</tr>
	        		<tr>
	        			<td class="theme2_event_banner_small_font">Mark your calendar</td>
	        		</tr>
	        	</table>
	        </div>
	    </div>
        <div class="theme2_event_entry_wrapper">
        	<table class="theme2_event_entry_table">
        		<tr>
        			<td class="theme2_event_entry_left background_dinner_deal">
        				<table class="theme2_event_entry_left_table">
        					<tr>
        						<td class="theme2_event_entry_left_top_row"><%= attrs.month %></td>
        					</tr>
        					<tr>
        						<td class="theme2_event_entry_left_middle_row"><%= attrs.date %></td>
        					</tr>
        					<tr>
        						<td class="theme2_event_entry_left_bottom_row"><%= attrs.time %></td>
        					</tr>
        				</table>
        			</td>
        			<td class="theme2_event_entry_right">
        				<table class="theme2_event_entry_right_table">
        					<tr>
        						<td class="theme2_event_entry_right_top_row_type"><%= attrs.type.displayText %></td>
        						<td class="theme2_event_entry_right_top_row_calendar">
        							<a href="https://simfel.com/apptsvc/rest/html/getICSresponse?uuid=JIVrAR4iR-uPszT1HDAxbw">Add to calendar</a>
        						</td>
        					</tr>
        					<tr>
        						<td colspan="2" class="theme2_event_entry_right_middle_row"><%= attrs.displayText %></td>
        					</tr>
        					<tr>
        						<td colspan="2" class="theme2_event_entry_right_bottom_row"><%= attrs.shortDescription %></td>
        					</tr>
        				</table>
        			</td>
        		</tr>
        	</table>
        </div>
    </div>
</div>
