<div class="pree_question">
    <header class="questionHeader">
        <div class="pree_question_user">
            <div class="pree_question_user_avatar">
                <img src="images/Layer-4-copy-3.png" alt="">
            </div>
            <div class="pree_question_user_username">username</div>
        </div>
        <div class="pree_question_title">
            <div class="pree_question_title_date">
                &bull; 1 week ago
            </div>
            <div class="pree_question_title_name"><%= pollType.displayText.toUpperCase() %></div>
        </div>
    </header>
    <section class="questionBody">
        <div class="pree_question_text"><%= displayText %></div>
        <div class="pree_question_answer pree_question_answer_a answer">
            <input type="radio" name="answer"> <span class="ansLetter">A:</span>Agree
        </div>
        <div class="pree_question_answer pree_question_answer_b answer">
            <input type="radio" name="answer"><span class="ansLetter">B:</span >Disagree
        </div>
        <div class="pree_question_answer pree_question_answer_c answer">
            <input type="radio" name="answer"><span class="ansLetter">C:</span >Not sure
        </div>
    </section>
    <footer class="questionFooter">
        <div class="row tagsAndCategories">
            <div class="col-xs-12 col-sm-12 col-md-12">
                <ul class="pree_question_categories" style="display:inline-block; margin-bottom:10px">
                    <% _(categories).each(function(category) { %>
                      <li class="pree_question_categories_item">
                           <%= category.displayText %>
                       </li>
                    <% }) %>
                </ul>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-12">
                <ul class="pree_question_tags" style="display:inline-block">
                    <% _(tags).each(function(tag) { %>
                        <li class="pree_question_categories_item">
                            <%= tag.displayText %>
                        </li>
                    <% }) %>
                </ul>
            </div>
        </div>
        <div class="pree_question_likes_button">
            <div class="pree_question_likes_icon">
                <i class="fa fa-heart-o" aria-hidden="true"></i>
            </div>
            <div class="pree_question_likes_count"><%= likes %></div>
        </div>
        <div class="pree_question_comment_button">
            <div class="pree_question_comment_icon">
                <i class="fa fa-comment-o" aria-hidden="true"></i>
            </div>
            <div class="pree_question_comment_count"><%= messages %></div>
        </div>
        <div class="pree_question_share_button">
           <img src="images/share.png" alt="">
        </div>
        <div class="pree_question_answers">
            <span><span style="font-weight:400">Answers</span>: <%= totalAnswers %></span>
        </div>
        <div class="pree_question_more">
            <img src="images/Ellipse-5-copy-4.png" alt="">
            <img src="images/Ellipse-5-copy-3.png" alt="">
            <img src="images/Ellipse-5-copy-2.png" alt="">
            <img src="images/Ellipse-5-copy.png" alt="">
        </div>
    </footer>
    <div class="pree_question_answer_details"></div>
</div>
