{{#if editable}}
	{{#if selected}}
	    <a class="cmntyex-remove-list-item ui-btn ui-shadow ui-corner-all
	        ui-icon-delete ui-btn-icon-left">
	        {{name}}
	    </a>
    {{else}}
    	<a class="cmntyex-remove-list-item ui-btn ui-shadow ui-corner-all
	        ui-icon-none ui-btn-icon-left">
	        {{name}}
	    </a>
	{{/if}}
{{else}}
    <li class="cmntyex-remove-list-item">
        {{name}}
    </li>
{{/if}}
