{{#if editable}}
	{{#if selected}}
	    <a class="cmntyex-remove-list-item ui-btn ui-shadow ui-corner-all
	        ui-icon-delete ui-btn-icon-left">
	        {{quantity}}X {{itemName}}
	        <span class="right cmntyex-icon icon-cmntyex_delete"></span>
	    </a>
	{{else}}
	   <a class="cmntyex-remove-list-item ui-btn ui-shadow ui-corner-all
	        ui-icon-none ui-btn-icon-left">
	        {{quantity}}X {{itemName}}
	        <span class="right cmntyex-icon icon-cmntyex_delete"></span>
	    </a>
	{{/if}}
{{else}}
    <li class="cmntyex-remove-list-item">
        {{itemName}}
    </li>
{{/if}}
