<a href="#">
    <span class="list_number"><%= notificationCount %></span>
    <span class="list_name"><%= name %></span>
    <span class="list_rating"><%= rating %></span>
    <span class="list_distance"><% if (distance === null)
        { %>?<% }
        else { %><%=distance%>m<% } %>
    </span>
</a>
<img class="status_icon ui-li-icon" src="<%= icon %>">
