<div id="cmntyex_tile_detailed" data-role="page" class="page">
    <div class="sprite_navbar back_small back"></div>
    <div data-role="content" class="content">
        <div class="cmntyex-tiles_placeholder">
            <div class="cmntyex-content_placeholder">
            	<a href="#" >
                    <div class="cmntyex_sasl_tile">
                        <div class="tile_left">
                            <h2 class="tile_type"><%= promoType.enumText %></h2>
                            <img class="tile_image" src="<%= url %>" >
                        </div>
                        <div class="tile_right">
                            <h2 class="tile_title"><%= title %></h2>
                            <p class="tile_message"><%= message %></p>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
    <div class="driveCallBlock">
        <div class="shareButtons">
            <div id="tileviewdetails_callbutton">
                <a href="tel:">
                    <div class="sprite_navbar button12_60_0_0"></div>
                </a>
            </div>
            <div id="tileviewdetails_drivebutton">
                <a href="https://maps.apple.com/?daddr=4242424242424242+Huntingdon+DR+Sanjose+CA+&saddr=current%20location" target="_blank">
                    <div class="sprite_navbar button12_28_0_0"></div>
                </a>
            </div>
        </div>
    </div>
    <div class="shareBlock">
        <div>
            <div class="share_title">Share</div>
            <div class="shareButtons">
                <div id="tileviewdetails_twitterbutton">
                    <a href="https://twitter.com/intent/tweet?text=<%= window.encodeURIComponent(window.community.protocol + window.community.host + '/' + saslName + '?t='+ uuidtype + '&u=' + uuid) %>" target="_blank">
                        <div class="sprite_navbar navbutton_twitter"></div>
                    </a>
                </div>
                <div id="tileviewdetails_smsbutton">
                    <a href="" class="mobile_button">
                        <div class="sprite_navbar navbutton_sms_button"></div>
                    </a>
                </div>
                <div id="tileviewdetails_facebookbutton">
                    <a href="https://www.facebook.com/sharer/sharer.php?u=<%= window.encodeURIComponent(window.community.protocol + window.community.host + '/' + saslName + '?t='+ uuidtype + '&u=' + uuid) %>" target="_blank">
                        <div class="sprite_navbar navbutton_facebook"></div>
                    </a>
                </div>
                <div id="tileviewdetails_emailbutton">
                    <a href="">
                        <div class="sprite_navbar navbutton_email"></div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
