<div id="cmntyex_tile_detailed" data-role="page" class="page">
    <div class="sprite_navbar navbutton_back back"></div>
    <div data-role="content" class="content">
        <div class="cmntyex-tiles_placeholder">
            <div class="cmntyex-content_placeholder">
                <img class="tile_image" src="<%= url %>" >
                <div class="shareButtons">
                    <div id="tileviewdetails_twitterbutton">
                        <a href="https://twitter.com/intent/tweet?text=<%= window.encodeURIComponent(window.community.protocol + '//' + window.community.host + '/' + friendlyURL + '?t='+ uuidtype + '&u=' + uuid) %>" target="_blank">
                            <div class="sprite_navbar navbutton_twitter"></div>
                        </a>
                    </div>
                    <div id="tileviewdetails_smsbutton">
                        <a href="" class="mobile_button">
                            <div class="sprite_navbar navbutton_sms_button"></div>
                        </a>
                    </div>
                    <div id="tileviewdetails_facebookbutton">
                        <a href="https://www.facebook.com/sharer/sharer.php?u=<%= window.encodeURIComponent(window.community.protocol + '//' + window.community.host + '/' + friendlyURL + '?t='+ uuidtype + '&u=' + uuid) %>" target="_blank">
                            <div class="sprite_navbar navbutton_facebook"></div>
                        </a>
                    </div>
                    <div id="tileviewdetails_emailbutton">
                        <a href="">
                            <div class="sprite_navbar navbutton_email"></div>
                        </a>
                    </div>
                </div>
                <div class="textBlock">
                    <h1><%= saslName %></h1>
                    <h3><%= title %></h3>
                    <p><%= message %></p>
                </div>
                <div class="driveCallButtons">
                    <div id="tileviewdetails_drivebutton">
                        <div class="tileviewdetails_location">
                            <p class="location_title">Drive to</p>
                            <p><%= address.number+' '+address.street+' '+address.city+' '+address.state+' '+address.country %></p>
                        </div>
                        <a href="https://maps.apple.com/?daddr=<%= address.number+' '+address.street+' '+address.city+' '+address.country %>&saddr=current%20location" target="_blank">
                            <div class="sprite_navbar button12_28_0_0"></div>
                        </a>
                    </div>
                    <div id="tileviewdetails_callbutton">
                        <div class="tileviewdetails_phone">
                            <p class="phone_title">Call</p>
                            <p><%= contact.telephoneMain %></p>
                        </div>
                        <a href="tel:<%= contact.telephoneMain %>">
                            <div class="sprite_navbar button12_60_0_0"></div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
