<label style="background-color: <%= color %>; border-color:#555;" class="catalog-radio-button " for="<%= catalog_radio_item_id %>">
    <span class="catalog-radio-button__label"><%= catalog_radio_item_label %></span>
    <input class="catalog-radio-button__input" id="<%= catalog_radio_item_id %>" type="radio" name="<%= catalog_radio_item_name %>">
    <span class="catalog-radio-button__icon"></span>
</label> 