 <label style="padding-left:20px; text-shadow:none;background-color: <%= color %>; border-color:#555;"
        class="catalog-radio-button__label catalog-radio-button " for="<%= catalog_radio_item_id %>"  >
     <%= catalog_radio_item_label %>
    <input class="catalog-radio-button__input"
           id="<%= catalog_radio_item_id %>" type="radio" name="<%= catalog_radio_item_name %>">
    <span class="catalog-radio-button__icon"></span>
 </label>
