<a href="#" >
    <div class="cmntyex_sasl_tile">
        <div class="tile_left">
            <img class="tile_image" src="<%= tileURL %>" >
        </div>
        <div class="tile_right">
            <h2 class="tile_title"><%= tileTitle %></h2>
            <p class="tile_message"><%= tileMessage %></p>
            <img class="status_icon" src="<%= icon %>">
            <img class="app_icon" src="<%= appIconURL %>">
        </div>
    </div>
</a>
