<div id="cmtyx_generatedView" data-role="page" class="page">
    <div class="sprite_navbar navbutton_back back"></div>
    <div data-role="content" class="content">
        <div  class="ui-grid-c cmntyex-basket">
        <div style="text-align: center;"><%=basket.catalogName%></div>   
            <div style="text-align: center;  <% if(! basket.hasCombo()) { %> visibility:none;<% } %> " id="catalog_combo_count_div">
                Combo: <span class="num-of-combo-items"><%= basket.getComboCount() %></span> : $<span class="combo-total-price"><%= basket.getComboPrice() %></span>
            </div>
       
            <div class="ui-block-a">
                <div class="edit_button sprite_navbar sub_edit"></div>
            </div>
        <% if(basket.hasCombo()) { %>  
            <div class="ui-block-b">
                <p>Extra: <span class="num-of-items"><%= basket.nonComboItemCount() %></span>  $<span class="total-price"><%= basket.getNonComboPrice() %></span></p>
            </div>
        <% } else { %>   
            <div class="ui-block-b">
                <p>Items <span class="num-of-items"><%= basket.count() %></span> - $<span class="total-price"><%= basket.getTotalPrice() %></span></p>
            </div>   
        <% } %>
        
           <div class="ui-block-d">
               <button class="order_button cmntyex-basket_order_button">order</button>
           </div> 
        </div>
        <div class="cmntyex-items_placeholder">
        </div>
    </div>
</div>
