<div id="order_page" data-role="page" class="page">
    <div class="sprite_navbar navbutton_back back"></div>
    <div data-role="content" class="content">

        <div data-role="collapsible" data-inset="false">
            <h3><%= basket.count() %> items, $<%= basket.getTotalPrice() %> + $<%= taxes %> = $<%= totalPriceWithTax %></h3>
            <table class="cmntyex-order_table">
                <thead>
                    <th>QTY</th>
                    <th>Item Name</th>
                    <th style="text-align:right;">Price</th>
                </thead>


                  <% editModel.each(function (item) { %>
                    <tr>
                        <td><%= item.get('quantity') %></td>
                        <td><%= item.get('displayText')%></td>
                        <td style="text-align:right;">$<%= (item.get('quantity') * item.get('price')).toFixed(2) %></td>
                    </tr>
                  <% }); %>

                <tr>
                    <td></td>
                    <td>Subtotal</td>
                    <td style="text-align:right;"class="subtotal">$<%= basket.getTotalPrice().toFixed(2) %></td>
                </tr>
                <tr>
                    <td></td>
                    <td>Tax (<%= priceAddons.taxState %>%)</td>
                    <td style="text-align:right;">$<%= taxes %></td>
                </tr>
                <thead>
                    <th></th>
                    <th class="total_price">Total</th>
                    <th style="text-align:right;"class="total_price">$<%= totalPriceWithTax %></th>
                </thead>
            </table>
        </div>
        <ul style="margin: 0 -1em;" data-role="listview" >
            <li>From: <%= username %></li>
        </ul>
        <p class="order_wishes">How do you want to receive it?</p>
        <div class="ui-grid-a">
            <div class="ui-block-a">
                <input type="radio" name="pickupSelected" id="delivery" value="false" <%= !allowDelivery ? "disabled" : "checked='checked'" %>>
                <label class="showHideInfo" for="delivery">Delivery</label>
            </div>
            <div class="ui-block-b">
                <input type="radio" name="pickupSelected" id="pickup" value="true" <%= !allowPickUp ? "disabled" : "checked='checked'" %> >
                <label class="showHideInfo" for="pickup">Pick Up</label>
            </div>
        </div>
        <% if (allowDelivery) { %>
            <div data-role="collapsible" id="collapsible" data-inset="false" data-collapsed="false">
                <h3>Delivery Address</h3>
                <fieldset class="delivery_inputs" data-type="horizontal">
                    <input style="display: inline-block;" autocapitalize="off" type="text" name="deliveryStreet2" placeholder="Apt/Bldg" data-corners="false"/>
                    <input style="display: inline-block;" autocapitalize="off" type="text" name="delivery_street" placeholder="Street" data-corners="false" value="<%= prefillAddress.deliveryStreet %>" />
                </fieldset>
                <input autocapitalize="off" type="text" name="delivery_city" placeholder="City" data-corners="false" value="<%= prefillAddress.deliveryCity %>" />
            </div>
        <% } %>
        <p class="order_wishes">How do you want to pay?</p>
        <div class="ui-grid-a">
            <div class="ui-block-a showPaymentInfo">
                <input type="radio" name="creditCardSelected" id="credit" value="true" <%= !paymentOnlineAccepted ? "disabled" : "checked='checked'" %>>
                <label class="showHideInfo" for="credit">Credit</label>
            </div>
            <div class="ui-block-b hidePaymentInfo">
                <input type="radio" name="creditCardSelected" id="cash" value="false" <%= !allowCash ? "disabled" : "checked='checked'" %> >
                <label class="showHideInfo" for="cash">Cash</label>
            </div>
        </div>
        <% if (paymentOnlineAccepted) { %>
            <div data-role="collapsible" id="collapsible1" data-inset="false" data-collapsed="false">
                <h3>Payment Info</h3>
              <!--
                <select style="display:none;" name="select-choice-1" class="country"  id="select-choice-1">
                    <option><%= country %></option>
                </select>
                -->
                <fieldset class="name_inputs" data-type="horizontal">
                    <input class="credit_card_modifying" autocapitalize="off" type="text" name="firstname" placeholder="FirstName" data-corners="false"/>
                    <input class="credit_card_modifying" autocapitalize="off" type="text" name="lastname" placeholder="LastName" data-corners="false"/>
                </fieldset>

                <input class="credit_card_modifying" autocapitalize="off" type="text" name="cardNumber" placeholder="Card Number" data-corners="false"/>
               <!--
                <select name="select-choice-cardtype" class="cardtype"  id="select-choice-cardtype">
                    <option>Card Type</option>
                    <% _(cardTypes).each(function (cardType) { %>
                        <option value="<%= cardType %>"><%= cardType %></option>
                     <% }) %>
                </select>
              -->
                <fieldset class="expiration_date" data-role="controlgroup" data-type="horizontal">
                    <select name="select-choice-month" class="month credit_card_modifying" id="select-choice-month">
                        <option value="notselected">Exp.Month</option>
                        <% _(months).each(function (month) { %>
                            <option value="<%= month %>"><%= month %></option>
                         <% }) %>
                    </select>
                    <select name="select-choice-year" class="year credit_card_modifying" id="select-choice-year">
                        <option value="notselected">Exp.Year</option>
                        <% _(years).each(function (year) { %>
                            <option value="<%= year %>"><%= year %></option>
                         <% }) %>
                    </select>
                </fieldset>
                <input class="credit_card_modifying" autocapitalize="off" type="password" name="cvv" placeholder="CVV." data-corners="false"/>
                <!--
                <input autocapitalize="off" type="text" name="street" placeholder="Street" data-corners="false"/>
                <input autocapitalize="off" type="text" name="city" placeholder="City" data-corners="false"/>
                <select name="select-choice-1" class="state"  id="select-choice-1">
                    <option>State</option>
                    <% _(states).each(function (state, abbr) { %>
                        <option value="<%= abbr %>"><%= state %></option>
                    <% }) %>
                </select>
                <input autocapitalize="off" type="text" name="zip" placeholder="Zip" data-corners="false"/>
                -->
                <fieldset class="save_credit_data" data-role="controlgroup">
                   <input type="checkbox" name="checkbox-1" id="checkbox-1" class="custom" />
                   <label for="checkbox-1">Save for future reference</label>
                </fieldset>
            </div>
        <% } %>
        <div class="ui-grid-a">
            <div class="ui-block-a">
                <a href="#" class="cancel_button" data-role="button" data-corners="false">Cancel</a>
            </div>
            <div class="ui-block-b place_order">
                <button type="submit"
                style=" background-color:blue; font-size:16px;" id="roster_order_button" class="submit_button ui-btn ui-btn-b ui-btn-inline ui-shadow ui-corner-all" data-role="button" data-inline="true" data-theme="b">
                Place Order </button>
            </div>
        </div>
    </div>
</div>
